html, body {
    margin: 0;
    padding: 0;
    background-image: url("background.png");
    background-position: center;
}

main {
    display: flex;
}

.card {
    background-color: lightgray;
    margin: 2em;
    border-radius: 5px;
    width: 200px;
}

.card-body > button {
    display: block;
}